.slogan-container{
  /*margin-top: 30px;*/
  width: 650px;
  height: 120px;
  padding: 0.5rem 1rem;
  /*margin-bottom: 72px;*/
}

.logo{
  width: 167px;
  height: 167px;
}

.logo, 
.slogan-container{
  margin-top: 30px;
}

.navbar-dark .nav-link{
  color:#000 !important;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}

.light-icon{
  margin-bottom: 30px;
  display: block;
}

.light-icon .fa{
  display: inline-block;
  margin-right: 5px;
}

.light-icon a{
  text-transform: uppercase;
  color:#000;
  display: inline-block;
}


.group-icon{
  margin-top: 110px;
  display: inline-block;
  float: right;
}



.top-icons{
  display: block;
  /*margin-top: 170px;*/
}

.top-icons a{
  color:#05923F;
  display: inline-block;
  margin-right: 15px;
  font-size: 22px;
}

#wrapper{
  width: 85%;
  margin:auto;
}